<p>ขอขอบคุณที่สมัครใช้บริการ Nisitfolio เพื่อที่จะใช้งาน appication กรุณากดยืนยันตัวตนในลิ้งค์ที่แนบให้ ภายใน 1 ชั่วโมง</p>
<p>
    <a href="{{ url }}">ตกลง</a>
</p>

<p>หากท่านไม่ได้สมัครสมาชิกด้วยอีเมลล์นี้ เพื่อความปลอดภัยโปรดเพิกเฉยต่อลิ้งค์ข้างต้น</p>