/*Agreement page*/
#agree1 {
    height: 2vh;
    weight: 2vw;
    border-radius: 50%;
    background-color: #BFF4A6;
    margin-left: 8vw;
    margin-right: 0.5vw;
    padding: auto;
    padding: 0.8%;
}

.inlineweight {
    display: inline-block;
    padding: auto;
}

.ttr {
    margin-left: 0.5%;
    margin-right: 55vw;
    color: black;
    font-weight: 400;
}

/*Emailverify page*/
.centerverify {
    text-align: center;
}

.emailpic {
    padding : 7vh;
}

.recheck-f {
    font-size: 4.5vh;
    font-weight: 300;
    color: black;
    margin-top: 3vh;
}

/*SuccessRegis page*/
.centersuccess {
    text-align: center;
    padding: 15vh;
}

.successregis-f {
    font-size: 5vh;
    font-weight: 300;
    color: black;
    margin-top: 3vh;
}

/*Registab7*/
.regis-box-content {
    height: auto;
    width: auto;
}

