/*---------------- resume tab2 ----------------*/
.myresume-choose-certi11 .card_certi{
    cursor: pointer;
}

.myresume-choose-certi11 .icon-checkbox1111{
    visibility: hidden;
    position: absolute;
    left: 42%;
    top: 22%; 
}

.myresume-choose-certi11 input[type=checkbox]:checked + label#list-certi33{
    background: #E1E1E1;
    opacity: 0.7; 
}

.myresume-choose-certi11 input[type=checkbox]:checked + label#list-certi33 > .icon-checkbox1111{
    visibility: visible;
}

.head-of-choose-resume-tab2{
    color: black;
    font-size: 24px;
    position: relative;
    left: 20vw;
    bottom: -2vh;
}

/*---------------- resume tab3 ----------------*/
.myresume-choose-work11 .icon-checkbox1112{
    visibility: hidden;
    position: absolute;
    left: 12.2vw;
    top: 5.4vh;    
}

.myresume-choose-work11 .t4-content{
    cursor: pointer;
}

.myresume-choose-work11 input[type=checkbox]:checked + label#list-work-22{
    background: #E1E1E1;
    opacity: 0.7; 
}

.myresume-choose-work11 input[type=checkbox]:checked + label#list-work-22 > .icon-checkbox1112{
    visibility: visible;
}

.head-of-choose-resume-tab3{
    color: black;
    font-size: 24px;
    position: relative;
    left: 20vw;
    bottom: -2vh;
}

.you-choose-list-resume{
    position: fixed;
    left: 20vw;
    top: 90%;
    font-size: 16px;
    font-weight: 300;
    color: #939393;
}

.you-choose-list-resume-red{
    color: red;
}