
.page4-container{
    display:inline-block;
}
.MySharing{
    position: relative;
    display:inline-block;
}

.MySharing .pic-sharing{

    width: 97.7vw;
    height: auto;
    
    margin-top: 1.5vw;
    margin-bottom: 0.5vw;
    padding-left: 0.2vw;
    border-radius: 1vw;
    overflow: scroll;

}

.MySharing  #sharing{
    position: absolute;
    z-index: 999;

    left: 4vw;
    right: 0;
    top: 3vw;


    color: white;
    font-size: 6vw;    font-family: 'Nunito';
}

.MySharing  #textsharing{
    position: absolute;
    z-index: 999;
    
    left: 4vw;
    right: 0;
    top: 10vw;
    width: 35vw;

    color: white;
    font-size: 2vw ;
    font-family: 'Kanit';
    font-weight: 200;
}

.MySharing  #textinvite{
    position: absolute;
    z-index: 999;
    
    left: 0vw;
    right: 3vw;
    top: 35vw;
    text-align: right;


    color: white;
    font-size: 3vw ;
    font-family: 'Kanit';
    font-weight: 400;
}

.MySharing .btn{
    position: absolute;
    top: 47vw;
    left: 78vw;
    
    width: 18vw;
    height: 5vw;
    border-radius: 3vw;
    background-color:black;
    padding: 0.1vw 0.2vw;
  }

.MySharing #buttonRegisLanding {
    position: absolute;
    top: 47vw;
    left: 78vw;

    width: 18vw;
    height: 4vw;
    border-radius: 3vw;
    background-color:steelblue;
    padding: 0.1vw 0.2vw;

  }
  .MySharing #buttonRegisLanding:hover {
    position: absolute;
    top: 47vw;
    left: 78vw;
    
    width: 18vw;
    height: 4vw;
    border-radius: 3vw;
    background-color: rgb(55, 95, 135);
    transition-duration: 0.5s;
    padding: 0.1vw 0.2vw;

  }
  

 .MySharing #buttontextRegis{
        color: white;
        font-size: 2.4vw;       
        font-weight: 400;       
        font-family: 'Kanit';
 } 

