
.column{
    position: relative;
    display: flex /* Make the width of box same as image */
}

.column .LRounded1{
    border-radius: 28px;
    width: 960px;
    height: 1080px;
    position: relative;
    
}

.column .LRounded2{
    border-radius: 28px;
    
    width: 960px;
    height: 1080px;
    position: relative;
}
  
.column .MyAnalytics #Analytics {
    position: absolute;
    z-index: 999;
    text-align: left;
    color: white;
    left: 3%;
    right: 0;
    top: 65%;
    font-size: 95px;   
    font-family: 'Nunito';
}


.column .MytextAnalytics #textAnalytics {
    position: absolute;
    z-index: 999;
    text-align: left;
    color: white;
    left: 3%;
    right: 0;
    top: 77.5%;   
    font-size: 32px;
    font-family: 'Kanit';
    font-weight: 200;
}

.column .MyBookmark #Bookmark{
    position: absolute;
    z-index: 999;
    text-align: right;
    color: white;
    left: 0;
    right: 3%;
    top: 5%;
    color: white;
    font-size: 95px;
    font-family: 'Nunito';
}

.column .MytextBookmark #textBookmark{
    position: absolute;
    z-index: 999;
    text-align: right;
    color: white;
    left: 0;
    right: 3%;
    top: 17.5%;   
    font-size: 32px;
    font-family: 'Kanit';
    font-weight: 200;
}

.MytextBookmark span{
    display:inline-block

}