
.row{
  display: inline-block; /* Make the width of box same as image */

}
.MyResume{
  position: relative;
}

.MyPortfolio{
  position: relative;
}
.MyResume .picMyResume {
 
  margin-top: 1vh;
  margin-bottom: 0.5vh;

  width: 98vw;
  height: auto;

  border-radius: 2vw;
}

.MyPortfolio .picMyPortfolio{

  margin-top: 0.5vh;
  margin-bottom: 0vh;

  width: 98vw;
  height: auto;

  border-radius: 2vw;

}

.MyResume #resume{
  position: absolute;
  z-index: 999;
  text-align: center;
  color: white;
  left: 0;
  right: 0;
  top: 12vh;
  color: white;
  font-size: 6vw;
  font-family: 'Nunito';
}

.MyResume #textMyResume1 {
  position: absolute;
  z-index: 999;
  text-align: center;
  color: white;
  left: 0;
  right: 0;
  top: 25vh;   
  font-size: 2vw;
  font-family: 'Kanit';
  font-weight: 200;
}

.MyPortfolio  #portfolio {
  position: absolute;
  z-index: 999;
  text-align: center;
  color: white;
  left: 0;
  right: 0;
  top: 14vh;  
  font-size: 6vw;
  font-family: 'Nunito';

}

.MyPortfolio #textMyPortfolio {
  position: absolute;
  z-index: 999;
  text-align: center;
  color: white;
  left: 0;
  right: 0;
  top: 28vh;   
  font-size: 2vw;
  font-family: 'Kanit';
  font-weight: 200;

}