
.page4-container{
    display:inline-block;
}
.MySharing{
    position: relative;
    /*display:inline-block;*/
}

.MySharing .pic-sharing{
    margin-top: 2vh;
    margin-bottom: 2vh;
  
    width: 98vw;
    height: 96vh;
  
    border-radius: 2vw;
}

.MySharing  #sharing{
    position: absolute;
    z-index: 999;

    left: 3vw;
    right: 0;
    top: 7vh;


    color: white;
    font-size: 6vw;    font-family: 'Nunito';
}

.MySharing  #textsharing{
    position: absolute;
    z-index: 999;
    
    left: 3vw;
    right: 0;
    top: 22vh;
    width: 35vw;

    color: white;
    font-size: 2vw ;
    font-family: 'Kanit';
    font-weight: 200;
}

.MySharing  #textinvite{
    position: absolute;
    z-index: 999;
    
    left: 0vw;
    right: 3vw;
    top: 62vh;
    text-align: right;


    color: white;
    font-size: 6vh ;
    font-family: 'Kanit';
    font-weight: 400;
}


.MySharing #buttonRegisLanding {
    position: absolute;
    top: 86vh;
    left: 78vw;

    width: 18vw;
    height: 4vw;
    border-radius: 3vw;
    background-color:steelblue;
    padding: 0.1vw 0.2vw;

  }
  .MySharing #buttonRegisLanding:hover {
    position: absolute;
    top: 86vh;
    left: 78vw;
    
    width: 18vw;
    height: 4vw;
    border-radius: 3vw;
    background-color: rgb(55, 95, 135);
    transition-duration: 0.5s;


  }
  

 .MySharing #buttontextRegis{
        color: white;
        font-size: 2.4vw;       
        font-weight: 400;       
        font-family: 'Kanit';
 } 

