.LRounded {
  border-radius: 18px;
  max-width: 100%;
}
.col-md-auto{
  margin: 1%;
}

.landingPage {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

.landingpage2{
  margin: 1%;
  position: relative;
}

.landingpage3{
  margin: 1%;
  width: 100%;
  display:flex;
  position: relative;
}

.Myresume-text{ 
  position: absolute;
  top: 20px;
  left: 40px;
}