.LRounded1 {

  height: 100%;
  width: 100%;
  padding-bottom: 1%;
  position: static;

}

.LRounded2 {

  height: 100%;
  width: 100%;
  position: static;
}



img {
  border-radius: 28px;
  /*margin: 0 auto;
  display: block;*/
}


#resume {
  position: absolute;
  color: white;

  font-size: 95px;
  font-family: 'Nunito';
  top: 40%;
  left: 60%
}

#textMyResume1 {
  position: absolute;
  color: white;
  top: 55%;
  left: 53%;

  font-size: 32px;
  font-family: 'Kanit';
  font-weight: 200;
}


#portfolio {

  position: absolute;
  color: white;
  top: 100%;
  left: 13%;

  font-size: 95px;
  font-family: 'Nunito';
}

#textMyPortfolio {
  position: absolute;
  color: white;
  top: 115%;
  left: 3%;
  
  font-size: 32px;
  font-family: 'Kanit';
  font-weight: 200;
}