
.page4-container{
    display:inline-block;
}
.MySharing{
    position: relative;
}

.MySharing .pic-sharing{

    width: 98vw;
    height: auto;
    
    padding-top: 0.5vw;
    padding-left: 0.5vw;

    border-radius: 0.9vw;

}

.MySharing  #sharing{
    position: absolute;
    z-index: 999;

    left: 4vw;
    right: 0;
    top: 3vw;


    color: white;
    font-size: 6vw;
    font-family: 'Nunito';
}

.MySharing  #textsharing{
    position: absolute;
    z-index: 999;
    
    left: 4vw;
    right: 0;
    top: 10vw;
    width: 15vw;

    color: white;
    font-size: 2vw ;
    font-family: 'Nunito';
    font-weight: 200;
}

.MySharing  #textinvite{
    position: absolute;
    z-index: 999;
    
    left: 0vw;
    right: 0;
    top: 40vw;
    text-align: right;


    color: white;
    font-size: 2vw ;
    font-family: 'Nunito';
    font-weight: 200;
}