.textOfLandingPage #sloganNisitZaa {
    position: absolute;
    color: white;
    top: 32%;
    left: 5.5%;
    font-size: 55px;
    font-family: 'Kanit';
    font-weight: 350;
}

.LogoNisitZaa11244 #NameProject112 {
    position: absolute;
    color: white;
    top: 15%;
    left: 13.2%;
    font-size: 100px;
    font-family: 'Nunito';
}

.LogoNisitZaa11244 #nisit44Zaa112 {
    position: absolute;
    top: 15%;
    left: 5.5%;
}

#fromNahee {
    position: absolute;
    top: 50%;
    right: 65%;
}