
.col-lg-12{
  position: relative;
  display: inline-block; /* Make the width of box same as image */
}
.col-lg-12 .LRounded1 {

  margin-left: 10px;
  margin-top: 10px;
  width: 100vw;
  height: auto;

  border-radius: 28px;
}

.col-lg-12 .LRounded2 {
  padding-left: 10px;
  padding-top: 10px;
  width: 100vw;
  height: auto;

  border-radius: 28px;

}

.col-lg-12 #resume{
  position: absolute;
  z-index: 999;
  text-align: center;
  color: white;
  left: 0;
  right: 0;
  top: 25%;
  color: white;
  font-size: 6vw;
  font-family: 'Nunito';
}

.col-lg-12 #textMyResume1 {
  position: absolute;
  z-index: 999;
  text-align: center;
  color: white;
  left: 0;
  right: 0;
  top: 50%;   
  font-size: 2vw;
  font-family: 'Kanit';
  font-weight: 200;
}

.col-lg-12 #portfolio {
  position: absolute;
  z-index: 999;
  text-align: center;
  color: white;
  left: 0;
  right: 0;
  top: 28%;   
  font-size: 6vw;
  font-family: 'Nunito';

}

.col-lg-12 #textMyPortfolio {
  position: absolute;
  z-index: 999;
  text-align: center;
  color: white;
  left: 0;
  right: 0;
  top: 53%;   
  font-size: 2vw;
  font-family: 'Kanit';
  font-weight: 200;

}