.layout-template{
    position: relative;
    left: 106px;
}

.template-header{
    display: inline-flex;
    position: absolute;
    top: 25px;
}

/*-----------text-choose-template myresume-----------*/

#text-choose-template {
    color: black;
    font-size: 75px;
}

/*-----------text-display-info myresume-----------*/
#text-display-info {
    font-size: 25px;
    font-weight: 300;
    margin-left: 48px;
    margin-top: 56px;
}
#span-text-display-info{
    color: black;
}

/*------background choose template------*/
.template-content{
    position: absolute;
    height: 630px;
    width: 1480px;
    top: 165px;
    background-color: #F4F4F4;
    border-radius: 20px;
}

.choose-color-template11 {
    position: absolute;
    left: 580px;
    top: 110px;
}

/*------text choose template------*/
#text-choose-color-template11{
    color: black;
    margin-bottom: 50px;
}

.grid-choose-template{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}

.choose-template-color{
    display: block;
    width: 227px;
    height: 125px;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid #C4C4C4;
    cursor: pointer;
}

.user-choose-template{
    display: block;
    width: 227px;
    height: 125px;
    background-color: transparent;
    border-radius: 20px;
    border: 8px solid #2560A5;    
}

#red-template1{
    padding-left: 42%;
    padding-right: 40%;
}

.text-template1{
    position: relative;
    color: black;
    font-size: 24px;
    font-weight: 300;    
    top: 25%;
    text-align: center;
}

#orange-template1{
    color: black;
    font-size: 24px;
    font-weight: 300;
    /*padding-left: 40%;
    padding-right: 40%;*/
}

#yellow-template1{
    color: black;
    font-size: 24px;
    font-weight: 300;
    /*padding-left: 36%;
    padding-right: 40%;*/
}

#green-template1{
    color: black;
    font-size: 24px;
    font-weight: 300;
    /*padding-left: 40%;
    padding-right: 40%;*/
}

#lightblue-template1{
    color: black;
    font-size: 24px;
    font-weight: 300;
    /*padding-left: 42%;
    padding-right: 40%;*/
}

#template-color-FF7370{
    visibility: hidden;
}

#template-color-FE9666{
    visibility: hidden;
}

#template-color-FFCE55{
    visibility: hidden;
}

#template-color-01B8AA{
    visibility: hidden;
}

#template-color-32A3C7 {
    visibility: hidden;
}

.circle-color-template{
    position: relative;
    top: 10%;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: green;
    justify-content: center;
    text-align: center;
}