@import "myresumeTimeline.css";
@import "myresumeEducation.css";
@import "myresumeCertificate.css";
@import "myresumework.css";
@import "myresumeSkill.css";
@import "Myresume_portfolio_choice.css";
/* Zone Decoration */
.MyResumeContent *{
    font-weight: normal;
}

.MyResumeContent h1{
    font-weight: 500;
}
.MyResumeContent h2{
    font-weight: 500;
}
.MyResumeContent h3{
    font-weight: 500;
}
.MyResumeContent h4{
    font-weight: 500;
}


.Ex {
    font-style: italic;
}
.myresume-contentEx1 {
    width:94vw;
    background-color: aqua;
    /*margin-left:6vw;*/
    padding: 1vw;
    text-align: center;
}

.myresume-contentEx2 {
    width:45vw;

    background-color: rebeccapurple;
    padding: 1vw;
}

.myresume-contentEx3 {
    width:45vw;
    background-color: darkorange;
    padding: 1vw;
}

.myresume-contentEx4 {
    width:35vw;
    background-color: darkorange;
    padding: 1vw;
}

.myresume-contentEx5 {
    width:45vw;
    background-color: darkmagenta;
    padding: 1vw;
}

.myresume-navbarEx {
    width:45vw;
}

.marginLEx1 {
    margin-left: 1vw;
}

.marginBEx1 {
    margin-bottom: 1vw;
}

.marginBEx2 {
    margin-bottom: 2vw;
}

.NavEx1 {
    width:6vw;
    background-color: rosybrown;
}

.NavEx2 {
    width:20vw;
    background-color: royalblue;
    display: inline-block;
}

.del-mg-row {
    margin-left: calc(var(--bs-gutter-x) * 0);
}


.resumenewnav{
    width: 92%;
    margin-left: 8%;
}

/*Header*/

.resume-header{
    width: 100%;
    position: relative;
}

.resume-head-darkpart{
    width: 100%;
    background-color: #161513;
    padding: 2vw;
    color: #FFFFFF;
}

.resume-name-box{
    margin-left:38%;
    width:58%;
    padding: 0.5vw;
    color: #FFFFFF;
    padding-inline: 1vw;
}

.resume-name-text{
    font-size: 3.6vw;
    font-weight: 700;
    color: #FFFFFF;
}

.resume-occupation{
    font-size: 1.6vw;
    height: auto;
    margin-bottom: 0%;
    margin-top: 5%;
}

.resume-name-bio-part{
    padding: 1vw;
    padding-inline: 0vw;
    margin-left:38%;
    width:56%;
    min-height: 8vw;
    font-size: 1vw;
    color: black;
    /*font-weight: 300;*/
    position: relative;
}

.resume-name-bio-part p{

    /*width: 100%;*/
    font-size: 1vw;
    color: black;
    margin-bottom: 0%;
    /*font-weight: 300;*/
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.resume-profile-pic{
    width: 100%;
    height: 100%;
}

.resume-profile-picture{
    box-shadow: none;
	display: block;
	left: 0px;
	bottom: 0px;
	position: absolute;
	/*background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
	*/
    width: 30%;
    height: auto;
    z-index:9;
}

.resume-hometown{
    margin-top: 2%;
    margin-left: 38%;
    padding-inline: 1.5vw;
    width: 58%;
}
.resume-hometown p{
    font-size: 1.4vw;
    margin-bottom: 0%;
}
.indark-text{
    color: #FFFFFF;
}



.resumetopic{
    color: black;
    font-size: 3vw;
    padding: 0vw;
    font-weight: 500;
    margin-bottom: 0%;
    text-align: center;
}

.resumesectionline{
    width: 40%;
    height: 0.5vw;
    margin-inline: auto;
    /*background-color: black;*/
}




.block-right2 {
    display: inline-block;
    text-align: right;
    margin-left: 60vw;
}

.block-right3{
    text-align: right;
}

.del-pad-col1 {
    padding: -1vw;
}

.margin1 {
    margin: 1vw;
}

.link-text {
    font-size: 20px;
    margin-bottom: 0px;
    display: inline;
    padding-top: 0.5vw;
    margin-left: 0vw;
}

.myresume-mywork {
    width:45vw;
    margin-left:55vw;
    background-color: rgb(255, 255, 255);
    padding: 1vw;
}

.showmywork {
    margin-top: 3%;
}

/*.seemywork{
    margin-left: 31Vw;
}*/

.myresume-mywork-woNb{
    background-color: rgb(255, 255, 255);
}

.myresume-head-woNb{
    color: black;
    font-size: 3vw;
    padding: 0vw;
    font-weight: 500;
    margin-bottom: 0%;
    text-align: center;
}

.line-mywork{
    border: 0.25Vw solid #FFCE55;
    width: 27%;
    margin-left: 36.5%;
    margin-bottom: 30px;
}

.seemywork-woNb{
    margin-left: 80Vw;
    margin-top: 1.4Vw;
    padding: 1Vw;
}

.myresume-work-goals-woNb{
    background-color: rgba(22, 21, 19, 1);
}


.work-goals{
    margin-top: 3Vw;
}

.count-work-goals{
    font-weight: 200;
    font-size: 300%;
}

.color-number{
    margin-top: 5Vw;
    font-weight: 200;
    font-size: 320%;

    text-align: center;
}

.work-goals-woNb{
    margin-left: 8Vw;
    margin-right: 8Vw;
}


.White-font{
    color: white;
    text-align: center;
}

.myworkb{
    color: white;
    padding-bottom: 4Vw;
}

.myresume-work-goals-withoutdata{
    background-color: rgba(22, 21, 19, 1);
    padding: 1Vw;
}

.myresume-mywork-withoutdata{
    background-color: rgb(255, 255, 255);
    padding: 1Vw;
}

.White-font-topic{
    color: rgb(255, 255, 255);
    font-size: 3vw;
    padding: 0vw;
    font-weight: 500;
    margin-bottom: 0%;
    text-align: center;
}

.text-work-goals-wdata{
    margin-top: 18Vw;
    text-align: center;
}

.work-goals-btn{
    font-size: 1.4vw;
    background: #F9DC5C;
    border-radius: 2vw;
    padding: 0.8vw;
    color: black;
    padding-inline: 3.6vw;
    border: rgba(0,0,0,0);

    position: absolute;
    margin-left: 24%;
    /*margin: auto;
    top: 86vh;
    left: 78vw;

    width: 30%;
    height: 3vw;
    border: 3Vw rgba(249, 220, 92, 1);
    border-radius: 3vw;
    background-color: rgba(249, 220, 92, 1);
    padding: 0.1vw 0.2vw;
    
    position: center;*/
    /*display: block;*/
}

.wgs{
    margin-bottom: 23Vw;
}

.text-btn-work-goals{
    color: black;
    margin: auto;
    /*display: flex;*/
}

.mywork-row {
    margin-bottom: 18Vw;
}

.mywork-col{
    float: left;
    width: 100%;
    height: 100%;
    padding: 0%;
    margin-bottom: 0.5Vw;
    position: relative;
}

.mywork-col-overlay{
    float: left;
    width: 33.33%;
    padding: 0%;
    margin-bottom: 0.1Vw;
    position: relative;
}
.myworkobj{
    /*width: 100%;
    height: 100%;*/
}

.img-mywork-1{
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    margin-left: 0%;
    margin-top: 0%;
    display: flex;
    position: relative;
    transition: 0.5s;
    z-index: 0;
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
    /*background-color: rgba(26, 26, 26, 0.76);*/
}

/*.img-mywork-1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/

.img-overlay-block{
    position: relative;
}
.img-overlaybox{
    width: 100%;
    height: 17Vw;
    position: relative;
    overflow: hidden;
}

.img-overlayspace{
    margin: 0%;
}

.img-overlay{
    position: absolute;
    width: 100%;
    height: 17Vw;
    z-index: 1;
    display: flex;
    background-color: rgba(0,0,0,0.6);
    color:#FFFFFF;
    flex-direction: column;
    transition: 0.5s;
    overflow: hidden;
    opacity: 0;
}

.img-overlay:hover{
    opacity: 1;
}

.myworkname{
    margin-top: 8Vw;
    margin-left: 2Vw;
    font-size: 2Vw;
    color:rgb(255, 255, 255);
}

.myworkdate{
    margin-left: 2Vw;
    font-size: 1Vw;
    font-weight: 500;
    color:white;
}

.img-mywork-bookmark{
    width: 2.5Vw;
    height: 2.5Vw;
    margin-top: 1Vw;
    margin-left: 23.2Vw;
    z-index: 999;
}

.ghostbutton{
    width: 100%;
    height: 100%;
    position: absolute;
}

.iconmywork{
    margin-left: 4Vw;
    margin-top: 1Vw;
    margin-bottom: 0.7Vw;
    z-index: 999;
    position: absolute;
}

.img-mywork-select{
    width: 1.9Vw;
    height: 1.9Vw;
    margin-left: 13.8Vw;
    z-index: 999;
}

.img-mywork-bin{
    width: 1.9Vw;
    height: 1.9Vw;
    margin-left: 1Vw;
    z-index: 999;
}

.img-mywork-edit{
    width: 1.6Vw;
    height: 1.6Vw;
    margin-left: 1Vw;
    z-index: 999;
}

/*.img-overlay:hover{
    opacity: 0.6;
    transition: 0.5s;
}*/

/*.img-mywork-1:hover:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 17vw;
    margin-left: 0%;
    margin-top: 0%;
    display: flex;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 0 3px black;
}*/
/*
.img-mywork-1:hover{
    opacity: 0.4;
}*/
/*
.img-mywork-1:hover:after {
    opacity: initial;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 85%;
}*/

.workgolas{
    background-color: rgba(22, 21, 19, 1);
    padding-bottom: 4Vw;
    padding-top: 1Vw;
}

.slidemywork-container{
    max-width: 100%;
    position: relative;
    margin: auto;
}

.img-sp{
    padding-top: 2Vw;
}

.rsm-name{
    margin-top: 8px;
}

