/* Zone Decoration */

.Ex {
    font-style: italic;
}
.myresume-contentEx1 {
    width:94vw;
    background-color: aqua;
    /*margin-left:6vw;*/
    padding: 1vw;
    text-align: center;
}

.myresume-contentEx2 {
    width:45vw;

    background-color: rebeccapurple;
    padding: 1vw;
}

.myresume-contentEx3 {
    width:45vw;
    background-color: darkorange;
    padding: 1vw;
}

.myresume-contentEx4 {
    width:35vw;
    background-color: darkorange;
    padding: 1vw;
}

.myresume-contentEx5 {
    width:45vw;
    background-color: darkmagenta;
    padding: 1vw;
}

.myresume-navbarEx {
    width:45vw;
}

.marginLEx1 {
    margin-left: 1vw;
}

.marginBEx1 {
    margin-bottom: 1vw;
}

.marginBEx2 {
    margin-bottom: 2vw;
}

.NavEx1 {
    width:6vw;
    background-color: rosybrown;
}

.NavEx2 {
    width:20vw;
    background-color: royalblue;
    display: inline-block;
}

.del-mg-row {
    margin-left: calc(var(--bs-gutter-x) * 0);
}

.block-right2 {
    display: inline-block;
    text-align: right;
    margin-left: 60vw;
}

.block-right3{
    text-align: right;
}

.del-pad-col1 {
    padding: -1vw;
}

.margin1 {
    margin: 1vw;
}

.link-text {
    font-size: 20px;
    margin-bottom: 0px;
    display: inline;
    padding-top: 0.5vw;
    margin-left: 0vw;
}
