/*education content style*/

.resume-education{
    padding: 4vw;
    text-align: center;
}

.educationonecontent{
    /*margin-top: 50%;*/
    transform: translate(0, -50%);
    color: black;
}

.educationonecontent *{
    color: black;
}

.educationdummycontent{
    /*margin-top: 50%;*/
    transform: translate(0, -50%);
    color: #C4C4C4;
}

.educationdummycontent *{
    color: #C4C4C4;
}

.inline2 { 
    display: inline; 
    }

.educationcontentLine1 .year{
    bottom: 0;
    font-size: 1.0vw;
    font-weight: 500;

}
.educationcontentLine1 .degree{
    bottom: 0;
    font-size: 1.2vw;
    font-weight: 500;
}

.educationcontentLine1 .centerbreak{
    padding: 0.5vw;
}

.breakline{
    font-weight: 100;
    font-size: 1.2vw;
}

.educationcontentLine2 .field{
    font-size: 1.8vw;
}
.educationcontentLine3{
    height: auto;
    margin: 0%;
    padding: 0%;
}
.educationcontentLine3 p{
    font-size: 0.8vw;
    height: auto;
    margin-bottom: 0%;
}
/*Terminated*/
/*.educationcontentbigLine3{
    font-size: 4vw;
    height: auto;
    margin-bottom: 0%;
}

.educationcontentbigLine3 p{
    font-size: 4vw;
    height: auto;
    margin-bottom: 0.5%;
}
*/
.educationcontentLine4 .grade{
    bottom: 0;
    font-size: 1.4vw;
    font-weight: 800;
}
.educationcontentLine4 .grade-label{
    bottom: 0;
    font-size: 1.2vw;
}

.education-dummyshow{
    position: relative;
}

.ed-dummy{
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    width: 100%;
    
    padding: 1vw;
}

.ed-dummy p{
    color: #939393;
    font-size: 1vw;
}

.ed-dummy button{
    font-size: 1.8vw;
    background: #F9DC5C;
    border-radius: 2vw;
    padding: 0.8vw;
    color: black;
    padding-inline: 3.6vw;
    border: rgba(0,0,0,0);
}