
.Resume_sideNavbar {
    height: 100vh ;/* Full-height: remove this if you want "auto" height */
    width: 20vw; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
  

  }
  /* .Resume_sideNavbar .resumeblock{
    padding-bottom: 20%;

  } */

  .Resume_sideNavbar a {
    position: relative;
    width: 20vw;

  }
  .resumeicon:hover {
    position: relative;
    background: blue;
    width: 20vw;

  }
  .resumeicon {
    position: relative;
    width: 20vw

  }

  .resumeblock{
    font-size: 10vw;

  }
  
  #myresumepath{
    height: 100vh;
    
  }

  .resumetext{
    display: inline-block;
    color: white;
    font-weight: 300;
    font-size: 2vh;
  }


 

