
.Resume_sideNavbar {
    height: 100vh ;/* Full-height: remove this if you want "auto" height */
    width: 5vw; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 997; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
  

  }
  /* .Resume_sideNavbar .resumeblock{
    padding-bottom: 20%;

  } */

  .resumeicon:hover {
    background: gray;
  }

  .resumeblock{
    position: relative;
    left: 1.5vw;
    width: 20vw;

  }

  w
  #myresumepath{
    height: 100vh;
    
  }

  .resumetext{
    position: relative;
    display: inline-block;
    top: 0.3vh;
    color: black;
    font-weight: 100;
    font-size: 2vh;
  }


 

