/*Registab7*/
.regis-box-content {
    height: 57vh;
    width: 74vw;
    background-color: antiquewhite;
    margin-left:14%;
    margin-right: 17.5%;
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 1%;
}

