.frame_job {
    border: 1px solid black;
    height: 140px;
    width: 96.5%;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    text-align: center;  
}

#popup_JOB {
    height: 740px;
    width: 2950px !important;
}

.layer_icon {
    height: 140px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.25s;
    border-radius: 25px;
    background: transparent;
    opacity: 0.65;
}

.layer_icon button{
    visibility: hidden;
    transition: 0.1s;
}

.frame_job:hover .layer_icon{
  background: #E1E1E1;
  display:inline-block;
}

.layer_icon:hover button{
    visibility: visible;

}


/*------------------tab------------------*/

.tabs_pop {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tabs_pop li {
  display: inline-block;
  padding: 15px 25px;
  background: none;
  text-transform: uppercase;
  cursor: pointer;
}
.tabs_pop li.current2 {
  /*background: #e9e9e9;*/
}
.tab-contents_pop {
  /*background: #e9e9e9;
  padding: 20px;*/
}
.tab-pane_pop {
  display: none;
}
.tab-pane_pop.current2 {
  display: block;
}

/*-----slider range-----*/
#customRange11 input {
    position: absolute;
    margin-left: 25px;
}

#topic_pop {
    position: relative;
    left: 10px;
}