.card_certi {
    border: 1px solid black;
    height: 210px;
    width: 48%;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.dummy {
    border: transparent;
    height: 210px;
    width: 48%;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#pos_card {
  display: flex;
  justify-content: center;
}

#input_upload input.hidden {
    position: absolute;
    visibility: hidden;
    cursor: pointer;
}

#to_upload112 {
    cursor: pointer;
}

.button_popup_certi {
    margin-top: 20.2px;
}

.button_popup_certi a{
    width: 120.01px;
}

.frame_add_certi {
    background-color: #b6deea;
    border: 1px solid black;
    height: 210px;
    width: 96.5%;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    text-align: center;  
}

.button_add_certi button {
    margin-top: 2.55%;
}