.frame_job {
    border: 1px solid black;
    height: 140px;
    width: 96.5%;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    text-align: center;  
}

.frame_add_job_interest {
    background-color: #b6deea;
    border: 1px solid black;
    height: 140px;
    width: 96.5%;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    text-align: center;  
}

.button_add_job_interest button {
    margin-top: 0.22%;
}

#popup_JOB {
    height: 740px;
    width: 2950px !important;
    margin-block: 2px;
}

.layer_icon {
    height: 140px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.25s;
    border-radius: 25px;
    background: transparent;
    opacity: 0.65;
}

.layer_icon button{
    visibility: hidden;
    transition: 0.1s;
    padding-left: 55px;
    padding-right: 55px;
    margin-top: 0.8%;
}

.frame_job:hover .layer_icon{
  background: #E1E1E1;
  display:inline-block;
}

.layer_icon:hover button{
    visibility: visible;

}


/*------------------tab------------------*/

.tabs_pop {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tabs_pop li {
  display: inline-block;
  padding: 15px 25px;
  background: none;
  text-transform: uppercase;
  cursor: pointer;
}
.tabs_pop li.current2 {
  /*background: #e9e9e9;*/
}
.tab-contents_pop {
  /*background: #e9e9e9;
  padding: 20px;*/
}
.tab-pane_pop {
  display: none;
}
.tab-pane_pop.current2 {
  display: block;
}

/*-----slider range-----*/
#customRange11 input {
    position: absolute;
    margin-left: 25px;
}

.popup_JOB {
    position: relative;
    width: 1750px;
    height: 620px;
    border-radius: 25px;
}

#topic_pop {

}

.contentOfModalJop {
    position: relative;
    margin-top: 20px;
    margin-left: 85px;
    margin-right: 85px;
}

.tabPOP {
  justify-content: center;
  cursor: pointer;
  margin-bottom: 12.5px;
}

.tabPOP ul{
    text-align: center;
}

.tabPOP li {
  /*padding: 4px;*/
}

.tabPOP li:hover {
      border-bottom: 7px solid #435157 ;
}

.tabPOP li.active {
      border-bottom: 7px solid #435157;
}