#registab3_btnclose{
    position: absolute;
    left: 96%;

}

.textbox-container{
    display : flex;

}

.Registab3 .registab3_formbox {

    background-color: rgb(236, 236, 236);
    border: 1px solid black;
    border-radius: 25px;

    
    height: fit-content;
    width: 47%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;


    justify-content: center;
}

.Registab3 .registab3_formbox .registab3_btnplus{
    text-align: center;
}

.Registab3 .registab3_formbox #icon-plus-circle {
    position: relative;

    width: 50px;
    height: 50px;

}

.Registab3 .registab3_formbox .modal-title{
    color:black;
    font-size: 50px;
    padding-left: 40px;
    padding-bottom: 10px;
}

.Registab3 .registab3_formbox .addHigher{
    padding-left: 40px;
}
.Registab3 .registab3_formbox .addSecondary{
    padding-left: 40px;
}

.Registab4 .registab4_formbox {
    background-color: #b6deea;
    border: 1px solid black;
    border-radius: 25px;

    height: 140px;
    width: 1450px;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    justify-content: center;


}

.Registab4 .registab4_formbox .registab4_btnplus{
    margin-top: 0.42%;
    justify-content: center;
    text-align: center;
}
    

.Registab4 .registab4_formbox #icon-plus-circle {
    position: relative;
    width: 115px;
    height: 115px;
}

.Registab4 .registab4_formbox .modal-title{
    color:black;
    font-size: 50px;
    padding-left: 40px;
    padding-bottom: 10px;
}

.Registab4 .registab4_formbox .addWorkHistory{
    padding-left: 40px;
}
/*
    This is for registab3_addHigher
*/


#registab4_textGrade{ 
    margin-top: 14px;
    text-align: right;

}


/*
    This is for registab3_addSecondary

*/

/*
    This is for registab4_addWorkHistory
*/


#registab4_textOr{ 
    margin-top: 14px;

}

#registab4_radiocheck {
    margin-top: 10px;
    font-size: 20px;
}
  
#registab4_Radios1 {
    margin-top: 7px;

}

#registab4_textbox{
    text-align: left;
}

/*
    This is for registab3_addWorkHistory

*/