.bg_form{
    width: 515px;
    height: 670px;
    margin: 70px;
    background:white;
    border-radius: 20px;
    padding: 30px;
    align-items: center;
}

#signIn_h1 {
    text-align: center;
    font-family: 'Kanit';
    font-weight: 300;
    font-size: 55px;
    color: black;
}

#inputform1 {
    border-radius: 30px;
    background-color: #C4C4C4;
    border-color: #ebf0fc;
    width: 355px;
    height: 46px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

#buttom12 {
    align-items: center;
    border-radius: 30px;
    position: absolute; 
    top: 55px; 
    padding: 5px;
    margin: 0px 55px;
}

#buttonLogIn112 {
    border-radius: 30px;
    color: black;
    width: 230px;
    height: 60px;
    font-size: 24px;
    font-weight: 300;
}

#buttonSignIn112 {
    border-radius: 30px;
    color: white;
    width: 230px;
    height: 60px;
    font-size: 24px;
    font-weight: 300;
}

#labelText {
    font-family: 'Kanit';
    font-weight: 400;
    color: black;
    font-size: 25px;
}

#buttom1125 {
    font-family: 'Kanit';
    font-weight: 400;
}

#forgetText112 a{
    color: #167bff;
    font-weight: 300;
    font-family: 'Kanit';
}

.distancing112 {
    display: block;
    margin-bottom: 10px; 
}