.bg_form{
    width: 30vw;
    height: 38vw;
    margin: 2vw;
    background:white;
    border-radius: 1.8vw;
    padding: 2.5vw;
    align-items: center;
}

#signIn_h1 {
    text-align: center;
    font-family: 'Kanit';
    font-weight: 400;
    font-size: 2.8vw;
    color: black;
}

#inputform1 {
    border-radius: 1.8vw;
    background-color: #C4C4C4;
    border-color: #ebf0fc;
}

#buttom12 {
    align-items: center;
    border-radius: 2.8vw;
    position: absolute; 
    top: 5vw; 
    padding: 5vw;
    margin: 0vw 55vw;
}

#buttonLogIn112 {
    border-radius: 2.8vw;
    color: black;
    width: 18vw;
}

#buttonSignIn112 {
    border-radius: 2.8vw;
    color: white;
    width: 18vw;
}

#labelText {
    font-family: 'Kanit';
    font-weight: 400;
    color: black;
    font-size: 1.2vw;
}

#buttom1125 {
    font-family: 'Kanit';
    font-weight: 400;
}

#forgetText112 a{
    color: #167bff;
}
